/* Global Styles */
:root {
    --content-max-width: auto;
    --margin: 0 auto;
    --padding: 25px 25px;
    --nav-height: 78px;
}

/* HTML Styles */
html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: var(--nav-height);
}

/* Styles reset/normalize for common elements */
* {
    box-sizing: border-box;
    /* temporary outline */
    outline: 1px solid red;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header, Navigation, Main Content Styles */
header, main, nav{
    margin: var(--margin);
    max-width: var(--content-max-width);
    padding: var(--padding);
    text-align: center;
}

nav {
    position: sticky;
    top: 0;

    background-color: #ff9a9a;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    transform: scale(1);
    transition: transform 0.5s;
    display: inline-block;
}

nav a:hover {
    transform: scale(1.3);
}

/* Hero Styles */
header {
    height: calc(100vh - var(--nav-height));
    scroll-snap-align: start;
}

/* Section Styles */
section {
    padding: var(--padding);
    height: calc(100vh - var(--nav-height));
    scroll-snap-align: start;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Projects Card Styles */
.project-card p{
    text-align: justify;
}